.modal-header{
    background-color: blanchedalmond;

    h5{
        color: green;
        font-weight: 20vh;
    }
}

.cuerpo{
    background-image: url("../../../assets/images/fondo_adoptar.jpg");
    background-repeat: round;
    background-size: cover;
}