<div class="cabeza">
  <h1 class="mt-5 titulo">Hola!!</h1>
  <h3 class="mb-5 titulo">¿Quieres adoptar una mascota?, no esperes mas y registrate u ingresa a nuestro sitio web!!</h3>
</div>

<div class="container formulario">
  <form>
    <div class="mb-3 mt-3">
      <label for="exampleInputEmail1" class="form-label texto">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label texto">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <!--<div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">Acepto terminos y condiciones
    </div>-->
    <button type="submit" class="btn mb-2">Ingresar</button>
    <br>
    <a href="#" class="mb-3">Crear cuenta </a>
    <br>
    <a href="#" class="mb-3"> Olvide mi contraseña</a>
  </form>
</div>
