.cabeza{
    background-image: url('../../../assets/images/fondoTituloLogin.jpg');
    border-radius: 5vh;
    width: 80vh;
    margin: auto;
    .titulo{
        text-align: center;
        color: rgb(51, 28, 6);
    }
}

.formulario{
    background-image: url('../../../assets/images/fondoLogin.jpg');
    background-repeat: round no-repeat;
    background-size: 100% 100vh auto;
    background-attachment: fixed;
    text-align: center;
    margin-top: 10vh;
    width: 60vh;
    border-radius: 5vh;
    border-style: dotted;
    .texto{
        font-family: fantasy;
    }
    .btn{
        background-color: rgb(230, 187, 47);
        font-family: fantasy;
    }
}