.imagen{
    width: 10vh;
    margin-right: 4vh;
}

.perfil{
    color: antiquewhite;
    margin-left: 45vh;
}

.boton{
    border-style: double;
    border-radius: 2vh;
    border-color: black;
    margin-left: 5vh;
}