<h1 class="titulo" *ngIf="botonesPerro">Adopta a un Perro!!</h1>
<h3 class="parrafo" *ngIf="botonesPerro">Nuestros perros buscan un dueño que les cuide, puedes visualizar su género, raza y un breve descripción de ellos, si te convence alguno Adoptalo!!</h3>

<h1 class="titulo" *ngIf="!botonesPerro">Pagina de perros</h1>
<h3 class="parrafo" *ngIf="!botonesPerro">Bienvenido administrador, a continuación podra modificar, eliminar o agregar un perro</h3>

<div *ngFor="let perro of perros" class="container card mt-5 mb-5">
  <p>N°{{perro.id}}</p>
  <div class="card-header">
    <h2>{{perro.nombre}}</h2>
  </div>
  <div class="card-body">

    <div style="display: flex; align-items: center;">

      <img class="imagePerros" src={{perro.urlImg}}>
      
      <div class="contenido" style="margin-left: 10px;">
        <p class="info">{{perro.descripcion}}</p>
        <h5 class="info">Género: {{perro.genero}}</h5>
        <h5 class="info">Raza: {{perro.raza}}</h5>

      </div>

    </div>

  </div>
  <div class="card-footer">
    <button class="btn btn-success boton" type="button" *ngIf="botonesPerro">Adoptar</button>
    <button class="btn btn-info boton" type="button" *ngIf="!botonesPerro" (click)="abrirModalActualizar(perro)">Modificar</button>
    <button class="btn btn-danger boton" type="button" *ngIf="!botonesPerro" (click)="abrirModalEliminar()">Eliminar</button>
  </div>
</div>

<div class="container card mt-3 mb-3" style="text-align: center;" *ngIf="!botonesPerro">
  <div class="card-body">
    <button class="btn btn-success boton" shape="block" (click)="abrirModal()">Agregar Cachorro</button>
  </div>
</div>